

        <div id="container">
            <!-- Feature Box Start-->
            <div class="container">
                <div class="custom-feature-box row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box fbox_1">
                            <div class="title">Free Shipping</div>
                            <p>Free shipping on order over $1000</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box fbox_2">
                            <div class="title">Free Return</div>
                            <p>Free return in 24 hour after purchasing</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box fbox_3">
                            <div class="title">Gift Cards</div>
                            <p>Give the special perfect gift</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box fbox_4">
                            <div class="title">Reward Points</div>
                            <p>Earn and spend with ease</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Box End-->
            <div class="container">
                <div class="row">
                    <!-- Left Part Start-->
                    <aside id="column-left" class="col-sm-3 hidden-xs">
                        <h3 class="subtitle">Categories</h3>
                        <div class="box-category">
                            <ul id="cat_accordion">
                                <li><a href="category.html">Clothing</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Men</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Women</a></li>
                                        <li><a href="category.html">Girls</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Boys</a></li>
                                        <li><a href="category.html">Baby</a></li>
                                        <li><a href="category.html">Accessories</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Electronics</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Laptops</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                            </ul>
                                        </li>
                                        <li class="custom_id68"><a href="category.html">Desktops</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Cameras</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Mobile Phones</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">TV &amp; Home Audio</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories New</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">MP3 Players</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Shoes</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Men</a></li>
                                        <li><a href="category.html">Women</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Girls</a></li>
                                        <li><a href="category.html">Boys</a></li>
                                        <li><a href="category.html">Baby</a></li>
                                        <li><a href="category.html">Accessories</a><span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">Sub Categories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Watches</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Men's Watches</a></li>
                                        <li><a href="category.html">Women's Watches</a></li>
                                        <li><a href="category.html">Kids' Watches</a></li>
                                        <li><a href="category.html">Accessories</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Jewellery</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Silver</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Gold</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">test 1</a></li>
                                                <li><a href="category.html">test 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Diamond</a></li>
                                        <li><a href="category.html">Pearl</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Men's Jewellery</a></li>
                                        <li><a href="category.html">Children's Jewellery</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">New Sub Categories</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Health &amp; Beauty</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Perfumes</a></li>
                                        <li><a href="category.html">Makeup</a></li>
                                        <li><a href="category.html">Sun Care</a></li>
                                        <li><a href="category.html">Skin Care</a></li>
                                        <li><a href="category.html">Eye Care</a></li>
                                        <li><a href="category.html">Hair Care</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Kids &amp; Babies</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Toys</a></li>
                                        <li><a href="category.html">Games</a> <span class="down"></span>
                                            <ul>
                                                <li><a href="category.html">test 25</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="category.html">Puzzles</a></li>
                                        <li><a href="category.html">Hobbies</a></li>
                                        <li><a href="category.html">Strollers</a></li>
                                        <li><a href="category.html">Health &amp; Safety</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Sports</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Cycling</a></li>
                                        <li><a href="category.html">Running</a></li>
                                        <li><a href="category.html">Swimming</a></li>
                                        <li><a href="category.html">Football</a></li>
                                        <li><a href="category.html">Golf</a></li>
                                        <li><a href="category.html">Windsurfing</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Home &amp; Garden</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Bedding</a></li>
                                        <li><a href="category.html">Food</a></li>
                                        <li><a href="category.html">Furniture</a></li>
                                        <li><a href="category.html">Kitchen</a></li>
                                        <li><a href="category.html">Lighting</a></li>
                                        <li><a href="category.html">Tools</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html">Wines &amp; Spirits</a> <span class="down"></span>
                                    <ul>
                                        <li><a href="category.html">Wine</a></li>
                                        <li><a href="category.html">Whiskey</a></li>
                                        <li><a href="category.html">Vodka</a></li>
                                        <li><a href="category.html">Liqueurs</a></li>
                                        <li><a href="category.html">Beer</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="subtitle">Bestsellers</h3>
                        <div class="side-item">
        <%= render partial: 'mini_product', collection: @top_products, as: :product %>
                        </div>
                        <h3 class="subtitle">Specials</h3>
                        <div class="side-item">
<%= render partial: 'mini_product', collection: @special_products, as: :product %>
                        </div>
                        <div class="list-group">
                            <h3 class="subtitle">Custom Content</h3>
                            <p>This is a CMS block edited from admin. You can insert any content (HTML, Text, Images) Here. </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                        <div class="banner owl-carousel">
                            <div class="item">
                                <a href="#"><img src="../assets/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="../assets/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive" /></a>
                            </div>
                        </div>
                        <h3 class="subtitle">Latest</h3>
                        <div class="side-item">
<%= render partial: 'mini_product', collection: @lastest_products, as: :product %>

                        </div>
                    </aside>
                    <!-- Left Part End-->
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-9">
                        <!-- Slideshow Start-->
                        <div class="slideshow single-slider owl-carousel">
                            <div class="item">
                                <a href="#"><img class="img-responsive" src="../assets/slide/4.png" alt="banner 1" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img class="img-responsive" src="../assets/slide/2.png" alt="banner 2" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img class="img-responsive" src="../assets/slide/3.png" alt="banner 3" /></a>
                            </div>
                        </div>
                        <!-- Slideshow End-->
                        <!-- Featured Product Start-->
                        <h3 class="subtitle">Featured</h3>
                        <div class="owl-carousel product_carousel">

<%= render partial: 'product', collection: @products %>

                        </div>
                        <!-- Featured Product End-->
                        <!-- Banner Start-->
                        <div class="marketshop-banner">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a href="#"><img src="../assets/banner/sample-banner-3-400x200.jpg" alt="Sample Banner 3" title="Sample Banner 3" /></a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a href="#"><img src="../assets/banner/sample-banner-1-400x200.jpg" alt="Sample Banner" title="Sample Banner" /></a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a href="#"><img src="../assets/banner/sample-banner-2-400x200.jpg" alt="Sample Banner 2" title="Sample Banner 2" /></a>
                                </div>
                            </div>
                        </div>
                        <!-- Banner End-->
                        <!-- Categories Product Slider Start-->
                        <div class="category-module" id="latest_category">
                            <h3 class="subtitle">Electronics - <a class="viewall" href="category.tpl">view all</a></h3>
                            <div class="category-module-content">
                                <ul id="sub-cat" class="tabs">
                                    <li><a href="#tab-cat1">Điện thoại</a></li>
                                    <li><a href="#tab-cat2">Desktops</a></li>
                                    <li><a href="#tab-cat3">Cameras</a></li>
                                    <li><a href="#tab-cat4">laptop</a></li>
                                    <li><a href="#tab-cat5">TV &amp; Home Audio</a></li>
                                    <li><a href="#tab-cat6">MP3 Players</a></li>
                                </ul>
                                <div id="tab-cat1" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">
                                         <% @products.each do |product|%>
                                          <% if product.category.name == 'Mobile Phones' %>
                                              <%= render partial: 'product', object: product %>
                                              <% end %>
                                        <% end %>
                                    </div>
                                </div>
                                <div id="tab-cat2" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">

                                    </div>
                                </div>
                                <div id="tab-cat3" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">

                                    </div>
                                </div>
                                <div id="tab-cat4" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">

                                    </div>
                                </div>
                                <div id="tab-cat5" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">
                                    </div>
                                </div>
                                <div id="tab-cat6" class="tab_content">
                                    <div class="owl-carousel latest_category_tabs">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Categories Product Slider End-->
                        <!-- Banner Start -->
                        <div class="marketshop-banner">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <a href="#"><img src="../assets/banner/sample-banner-4-400x150.jpg" alt="2 Block Banner" title="2 Block Banner" /></a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <a href="#"><img src="../assets/banner/sample-banner-5-400x150.jpg" alt="2 Block Banner 1" title="2 Block Banner 1" /></a>
                                </div>
                            </div>
                        </div>
                        <!-- Banner End -->
                        <!-- Categories Product Slider Start -->
                        <h3 class="subtitle">Samsung <a class="viewall" href="category.html">view all</a></h3>
                        <div class="owl-carousel latest_category_carousel">
                    <% @products.each do |product| %>
                        <% if product.manufacturer.name == 'Samsung' %>
                            <%= render partial: 'product', object: product %>
                            <% end %>
                    <% end %>
                        </div>
                        <!-- Categories Product Slider End -->
                        <!-- Brand Product Slider Start-->
                        <h3 class="subtitle">Apple<a class="viewall" href="category.html">view all</a></h3>
                        <div class="owl-carousel latest_brands_carousel">
             <% @products.each do |product| %>
                        <% if product.manufacturer.name == 'Apple' %>
                            <%= render partial: 'product', object: product %>
                            <% end %>
                    <% end %>
                        </div>
                        <!-- Brand Product Slider End -->
                        <!-- Brand Logo Carousel Start-->
                        <div id="carousel" class="owl-carousel nxt">
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/apple_logo-100x100.jpg" alt="Palm" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/canon_logo-100x100.jpg" alt="Sony" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/apple_logo-100x100.jpg" alt="Canon" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/canon_logo-100x100.jpg" alt="Apple" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/apple_logo-100x100.jpg" alt="HTC" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/canon_logo-100x100.jpg" alt="Hewlett-Packard" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/apple_logo-100x100.jpg" alt="brand" class="img-responsive" /></a>
                            </div>
                            <div class="item text-center">
                                <a href="#"><img src="../assets/product/canon_logo-100x100.jpg" alt="brand1" class="img-responsive" /></a>
                            </div>
                        </div>
                        <!-- Brand Logo Carousel End -->
                    </div>
                    <!--Middle Part End-->
                </div>
            </div>
        </div>
        <!--Footer Start-->

        <!--Footer End-->

