<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Marketshop - eCommerce HTML Template</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <%= stylesheet_link_tag 'application' %>
      <!-- CSS Part End-->
</head>

<body>
        <div class="wrapper-wide">
               <%= render partial: 'layouts/header' %>
    <%= yield %>
    <!-- Wrapper End -->
    <%= render partial: 'layouts/footer' %>
    <!-- JS Part Start-->
    <%= javascript_include_tag 'application' %>
</div>
    <!-- JS Part End-->
</body>

</html>
